<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Max relative slingshot stretch</key>
	<real>0.585</real>
	<key>Relative ball radius</key>
	<real>0.026</real>
	<key>Relative terrain thickness</key>
	<real>0.046875</real>
	<key>Min relative platform edge height</key>
	<real>0.075</real>
	<key>Max relative platform edge height</key>
	<real>0.115</real>
	<key>Default relative platform edge height</key>
	<real>0.09375</real>
	<key>Min relative platform length</key>
	<real>0.15</real>
	<key>Max relative platform length</key>
	<real>0.41</real>
	<key>Min relative ring radius</key>
	<real>0.17</real>
	<key>Max relative ring radius</key>
	<real>0.28</real>
	<key>Relative scroll threshold</key>
	<real>0.38</real>
</dict>
</plist>
